@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 100% 95%;
    --foreground: 0 0% 3.9%;

    --backgroundbrand: 235 100% 95%;
    --backgroundbrand-foreground: 235 100% 95%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --brand: 231 100% 70%;
    --brand-foreground: 231 100% 70%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* Custom properties */
    --navigation-height: 3.5rem;
    --color-brand: #6576ff;
    --color-one: #6576ff;
    --color-two: #fe8bbb;
    --color-three: #ffbd7a;

    /* 
    --color-one: #37ecba;
    --color-two: #72afd3;
    --color-three: #ff2e63;
     */
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --backgroundbrand: 232 45% 16%;
    --backgroundbrand-foreground: 232 45% 16%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --brand: 231 100% 70%;
    --brand-foreground: 231 100% 70%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-dark-6 {
  --tw-bg-opacity: 1;
  background-color: rgb(25 22 37 / var(--tw-bg-opacity));
}

.bg-dark-7 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 12 31 / var(--tw-bg-opacity));
}

.bg-dark-8 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 13 32 / var(--tw-bg-opacity));
}

.bg-dark\/70 {
  background-color: rgba(3, 0, 20, 0.7);
}

.bg-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(134 70 244 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white\/10 {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.bg-white\/5 {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.bg-white\/\[0\.04\] {
  background-color: hsla(0, 0%, 100%, 0.04);
}

.bg-white\/\[0\.05\] {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.bg-white\/\[0\.07\] {
  background-color: hsla(0, 0%, 100%, 0.07);
}

.bg-white\/\[0\.12\] {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.top-0 {
  top: 0;
}

.top-1\/2 {
  top: 50%;
}

.top-18 {
  top: 4.5rem;
}

.top-2 {
  top: 0.5rem;
}

.top-2\.5 {
  top: 0.625rem;
}

.top-20 {
  top: 5rem;
}

.top-25 {
  top: 6.25rem;
}

.top-9 {
  top: 2.25rem;
}

.top-\[16\%\] {
  top: 16%;
}

.top-\[17\%\] {
  top: 17%;
}

.top-\[74px\] {
  top: 74px;
}

.-z-1 {
  z-index: -1;
}

.-z-10 {
  z-index: -10;
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-50 {
  z-index: 50;
}

.z-999 {
  z-index: 999;
}

.z-9999 {
  z-index: 9999;
}

/* Typography */
.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[34px\] {
  font-size: 34px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-custom-1 {
  font-size: 45px;
  line-height: 55px;
}

.text-heading-2 {
  font-size: 48px;
  line-height: 58px;
}

.text-heading-3 {
  font-size: 40px;
  line-height: 48px;
}

.text-heading-4 {
  font-size: 30px;
  line-height: 38px;
}

.text-heading-5 {
  font-size: 28px;
  line-height: 40px;
}

.text-heading-6 {
  font-size: 24px;
  line-height: 30px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.lowercase {
  text-transform: lowercase;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[45px\] {
  line-height: 45px;
}

.text-purple {
  --tw-text-opacity: 1;
  color: rgb(134 70 244 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white\/70 {
  color: hsla(0, 0%, 100%, 0.7);
}

.text-white\/80 {
  color: hsla(0, 0%, 100%, 0.8);
}

.text-opacity-10 {
  --tw-text-opacity: 0.1;
}

.underline {
  text-decoration-line: underline;
}
